body {
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  background: #FCF5EA;
}

#plantilla {
  display: -ms-grid;
  display: grid;
  height: 100vh;
      grid-template-areas: " header header" "logo logo" " producto publicidad" " servicios publicidad" " footer footer";
  /* 170px */
  /* 20%  auto 200px  */
  -ms-grid-rows: 60px 150px 3fr 2fr 60px;
      grid-template-rows: 60px 150px 3fr 2fr 60px;
  -ms-grid-columns: auto 200px;
      grid-template-columns: auto 200px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

@media (max-width: 700px) {
  #plantilla {
        grid-template-areas: " header header" "logo logo" " producto producto" " publicidad publicidad" " servicios servicios" " footer footer";
    -ms-grid-rows: 60px 150px 3fr 150px 2fr 60px;
        grid-template-rows: 60px 150px 3fr 150px 2fr 60px;
  }
}

@media (max-width: 500px) {
  #plantilla {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #000;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul li {
  display: inline;
  padding: 10px 10px;
  border-radius: 15px 0 15px 0;
}

nav ul li:hover {
  color: #000;
  background-color: #fff;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Horizontal */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* vertical */
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  color: #fff;
  background-color: #000;
}

footer h2 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#servicios {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: servicios;
  text-align: center;
}

#productos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: producto;
  text-align: center;
}

#logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#logo svg {
  width: 80px;
  height: auto;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.fadein {
  -webkit-animation: fadeIn 3s infinite linear;
          animation: fadeIn 3s infinite linear;
}

.spin {
  -webkit-animation: spin 4s infinite linear;
          animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: .75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: .5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: .75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: .5;
  }
}

.productos__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
  padding: 15px;
}

.productos__contenedor__card {
  width: 150px;
  height: 250px;
  background-color: #FCF5EA;
  background-color: #461414 !important;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.publicidad {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: publicidad;
  background-color: blueviolet;
  background-image: url(https://images.unsplash.com/photo-1601645191163-3fc0d5d64e35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80);
}

.menu {
  grid-area: menu;
  background-color: crimson;
}

.border-items {
  /* border: 3px;
    border-color: black;
    border-style: solid; */
}
/*# sourceMappingURL=estilos.css.map */